@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom:360px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width:100%;
}

p{
    font-family: $font-family-serif;
    size: 18px;
}
.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/bigtitle.jpg);
        background-size: cover;
        filter: brightness(0.4);
    }
    *{
        //positionner les éléments devant le  before
        position: relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.text-justify{
    text-align: justify;
}

.form-label{
    color: $primary;
}

//fluidifier la nav
body {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.noUi-connect {
  background: $primary !important;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 1rem; /* Espace entre les cartes */
}

/* Responsive : 1 colonne sur petits écrans */
@media (max-width: 991px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
// Ajustement des cartes pour qu'elles prennent toute la largeur dans chaque colonne
@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 100%;
    }
}
